<div class="row">
    <div class="col-md-12">
      <ul class="list-group" *ngIf="collectedItems.length>0">
        <li class="list-group-item" *ngFor="let item of collectedItems">
          <button class="btn btn-danger" (click)="removeFromCollection(item)">Remove from Collection</button>&nbsp;
          {{item.description}}
          <span class="badge badge-pill badge-secondary">{{item.type}}</span>
        </li>
      </ul>
      <h3 *ngIf="collectedItems.length==0">Start Adding Items to your Collection on the Market</h3>
    </div>
  </div>